#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

p {
  /* cursor: pointer; */
  color: #0088cc;
}

/* p:hover {
  text-decoration: underline;
} */

.sand-castles-hidden {
  display: none;
}

.newClickable {
  cursor: pointer;
  color: blueviolet;
}

.newClickable:hover {
  font-size: 3rem;
}

.light-text {
  color:cornsilk;
}

.dark-text {
  color:red;
}

.light-background {
  background-color: white;
}

.dark-background {
  background-color:rgb(34, 35, 35)
}